// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_form{
  margin:50px;
}

.product_error{
  border-style: solid;
  border-width: 1px;
  background-color:#FAFAD2;
}

#product_messages{
  border-color: #ff0000;
  border-style:solid;
  border-width: 1px;
  padding: 12px;
  width: 200px;
  margin: 20px;
  background-color:#FAFAD2;
}

.product_message_hide{
  display:none;
}

td, th{
  padding:10px;
}
